@*@model IEnumerable<BookStore.Models.Author>*@


@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Book Store Home</h2>

<hr />

<p></p>

<div class="text-info">

    <p>This project is hosted on on my personal server running MS IIS and SQL server.  It demonstrates the following technologies: </p>

    <ul>
        <li>MS ASP.Net and C#</li>
        <li>SQL queries using Linq and Entity Framework</li>
        <li>Knockout data-binding with a robust API</li>
        <li>JavaScript</li>
        <li>Bootstrap</li>
    </ul>

    <p>
        The original version of this project was created by Jamie Munro in his book "ASP.NET MVC 5 with Bootstrap and Knockout.js: Building Dynamic, Responsive Web Applications".  This book was my study and practice guide.  This gave me quite a bit of practice coding and debugging.  I also became very familiar with Chrome Script Debugging.
        To this original project I have added the many to many relationships between books and authors, demonstrating complex Linq queries and additional form controls.
    </p>
    <p>
        Also see this  companion project: <a href="http://markminor.net/GBLookup">Google Books Lookup by ISBN</a>, which uses the Google Books API to add book and author content to the Book Store project's database.
    </p>

</div>
